<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList - Done</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="todo-navbar">
        <section class="todo-navbar-buttons">
            <form action="/select" method="post">
                <button type="submit" class="todo-navbar-button-todo" formaction="/todo-todo">To Do</button>
                <button type="submit" class="todo-navbar-button-inProgress" formaction="/todo-inprogress">In Progress</button>
                <button type="submit" class="todo-navbar-button-done" formaction="/todo-done">Done</button>
            </form>
        </section>
    </section>
    <ul>
        <% todos.forEach(todo => {
            if (todo.status === "done") { %>
            <li>
                <%= todo.content %>
                    <form action="/update-todo" method="post" style="display: inline;">
                        <input type="hidden" name="todoId" value="<%= todo.id %>">
                        <button type="submit" class="todo-button" name="status" value="todo">Mark as To Do</button>
                        <button type="submit" class="inProgress-button" name="status" value="inProgress">Mark as In Progress</button>
                    </form>
                    <form action="/delete-todo" method="post" style="display: inline;">
                        <input type="hidden" name="todoId" value="<%= todo.id %>">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
            </li>
            <% } // Close the if statement
        }); %>
    </ul>
</body>

</html>