<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <section class="todo-navbar">
        <section class="todo-navbar-buttons">
            <form action="/select" method="post">
                <button type="submit" class="todo-navbar-button-todo" formaction="/todo-todo">To Do</button>
                <button type="submit" class="todo-navbar-button-inProgress" formaction="/todo-inprogress">In Progress</button>
                <button type="submit" class="todo-navbar-button-done" formaction="/todo-done">Done</button>
            </form>
        </section>
    </section>
    <ul>
        <% todos.forEach(todo => { %>
            <% if (todo.status === "inProgress") { %>
                <li>
                    <%= todo.content %>
                        <form action="/update-todo" method="post" style="display: inline;">
                            <input type="hidden" name="todoId" value="<%= todo.id %>">
                            <button type="submit" class="todo-button" name="status" value="todo">Mark as Todo</button>
                            <button type="submit" class="done-button" name="status" value="done">Mark as Done</button>
                            <button type="submit" class="delete-button" name="status" value="delete">Delete</button>
                        </form>
                </li>
                <% } %>
                    <% }); %>
    </ul>
</body>

</html>