<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Logout</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <section class="login-header">
        <h1>Login or Create Account</h1>
        <a href="/logout">Logout</a>
    </section>
    <section class="login-container">
        <div class="login-form">
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" autocomplete="off">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="create-account-form">
            <form action="/register" method="post">
                <label for="new-username">New Username:</label>
                <input type="text" id="new-username" name="new_username" autocomplete="off">
                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="new_password">
                <button type="submit">Create Account</button>
            </form>
        </div>
    </section>
</body>

</html>