* {
    box-sizing: border-box;
}

body {
    background-color: #202020;
    color: white;
}

.popup {
    display: none;
}

.popup.open {
    display: block;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0, 0, 0, .5);
    z-index: -1;
}

.popup .contents {
    width: 200px;
    max-width: 100%;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup .contents label {
    font-weight: bold;
}

.popup .contents input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup .contents button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.popup .contents button[type="submit"]:hover {
    background-color: #45a049;
}

#todo-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#todo-form button[type="submit"]:hover {
    background-color: #45a049;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.material-symbols-outlined:hover {
    text-decoration: none;
    color: green;
    cursor: pointer;
}

.material-symbols-outlined:checked {
    color: green;
}

.todo-update-todo {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
}

.delete-button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
}

.todo-select {
    position: relative;
    display: inline-block;
    width: 6rem;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.todo-select {
    position: relative;
    display: inline-block;
    width: 200px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.todo-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    padding: 10px;
    background: transparent;
    margin-left: 1rem;
}

option {
    padding: 10px;
}

option[value="todo"] {
    background-color: red;
    color: white;
}

option[value="inprogress"] {
    background-color: yellow;
    color: black;
}

option[value="done"] {
    background-color: green;
    color: white;
}